<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Calc Test">
    <test name="Sum">
        <classes>
            <class name="com.stc.tests.SumTest" />
        </classes>
    </test>
    <test name="Difference">
        <classes>
            <class name="com.stc.tests.DifferenceTest" />
        </classes>
    </test>
    <test name="Multiplication">
        <classes>
            <class name="com.stc.tests.MultiplicationTest" />
        </classes>
    </test>
    <test name="Division">
        <classes>
            <class name="com.stc.tests.DivisionTest" />
        </classes>
    </test>
</suite>